@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: var(--bgc-body);
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: var(--text-black);
}

.container {
  width: 100%;
  margin: 0px auto;
  padding: 0 20px;

  @media screen and (max-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 16px;
  }
}

// Прихований заголовок
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
