@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --bgc-body: #84a178;
  --bgc-product-icecream: #aec6a5;
  --bgc-product-icecoffee: #efd478;
  --bgc-product-milkshakes: #d6936d;
  --bgc-ingredients-product: #9cbe8f;
  --bgc-chekbox-icecream: #96af8c;
  --bgc-modal-input: rgba(248, 210, 78, 0.1);
  --text-black: #131313;
  --text-whte: #fcfcfc;
  --text-footer-address: #7a7a7a;
  --btn-text-color: #000000;
  --btn-color-default: #f8d24e;
  --btn-color-hover-focus: #0a8817;
  --btn-color-disabled: #ababab;
}

body {
  background-color: var(--bgc-body);
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: var(--text-black);
}

.container {
  width: 100%;
  margin: 0px auto;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 16px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about {
  padding-top: 60px;
}
.about > .container {
  position: relative;
}

.about-lable {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: var(--text-whte);
}
@media screen and (min-width: 768px) {
  .about-lable {
    font-weight: 800;
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .about-lable {
    font-size: 30px;
  }
}

.about-title {
  width: 200px;
  margin: 0 auto;
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: var(--text-whte);
}
@media screen and (min-width: 480px) {
  .about-title {
    margin: 0 auto;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .about-title {
    width: 100%;
    font-size: 34px;
    letter-spacing: 0.06em;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .about-title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 172px;
  }
}

.about-img {
  width: 279px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 140px;
  background-color: #d9d9d9;
  background-image: url(../images/cow/cow_mobile.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  background-repeat: no-repeat;
  background-position: 0 22px, 0 0;
  background-size: contain;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about-img {
    background-image: url(../images/cow/cow_mobile@2x.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  }
}
@media screen and (min-width: 768px) {
  .about-img {
    width: 330px;
    height: 356px;
    margin-bottom: 0;
    border-radius: 165px;
    background-image: url(../images/cow/cow_tablet.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    background-position: 0 26px, 0 0;
    position: absolute;
    top: 154px;
    left: 32px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .about-img {
    background-image: url(../images/cow/cow_tablet@2x.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  }
}
@media screen and (min-width: 1200px) {
  .about-img {
    width: 491px;
    height: 529px;
    margin-bottom: 0;
    border-radius: 250px;
    background-image: url(../images/cow/cow_desktop.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    background-position: 0 39px, 0 0;
    position: absolute;
    top: 176px;
    left: 16px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about-img {
    background-image: url(../images/cow/cow_desktop@2x.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  }
}

.about-content {
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .about-content {
    padding-right: 0;
    padding-left: 0;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .about-content {
    width: 334px;
    margin: 0;
    margin-left: 368px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about-content {
    width: 463px;
    margin-bottom: 54px;
    margin-left: 616px;
  }
}

.about-text {
  font-size: 12px;
  line-height: 1.62;
  text-align: center;
  color: var(--text-whte);
}
.about-text:first-child {
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .about-text {
    text-align: left;
  }
  .about-text:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .about-text {
    font-size: 14px;
    line-height: 1.94;
  }
}

.text-ice {
  line-height: 1.76;
}
@media screen and (min-width: 1200px) {
  .text-ice {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-mood {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .text-mood {
    line-height: 1.94;
  }
}

.about-btn {
  display: flex;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  padding: 12px 34px;
  min-width: 164px;
  height: 42px;
  background: var(--btn-color-default);
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  gap: 10px;
  color: var(--text-black);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-btn:hover {
  background-color: var(--btn-color-hover-focus);
}
.about-btn:focus {
  background-color: var(--btn-color-hover-focus);
  color: var(--text-whte);
}
.about-btn:visited {
  background-color: var(--btn-color-default);
}
@media screen and (min-width: 768px) {
  .about-btn {
    margin: 0;
    margin-left: 368px;
  }
}
@media screen and (min-width: 1200px) {
  .about-btn {
    margin-left: 616px;
  }
}

.about__icon {
  fill: currentColor;
  width: 12px;
  height: 12px;
}/*# sourceMappingURL=index.css.map */