:root {
  //   BG-colors
  --bgc-body: #84a178;
  --bgc-product-icecream: #aec6a5;
  --bgc-product-icecoffee: #efd478;
  --bgc-product-milkshakes: #d6936d;

  //   Modal with info about product
  --bgc-ingredients-product: #9cbe8f;

  //   Buy-now-modal
  --bgc-chekbox-icecream: #96af8c;
  --bgc-modal-input: rgba(248, 210, 78, 0.1);

  // Text-colors
  --text-black: #131313;
  --text-whte: #fcfcfc;
  --text-footer-address: #7a7a7a;

  --btn-text-color: #000000;

  //  Btn-colors
  --btn-color-default: #f8d24e;
  --btn-color-hover-focus: #0a8817;
  --btn-color-disabled: #ababab;
}
