<section class="about" id="about">
  <div class="container">
    <p class="about-lable">tradition and love</p>
    <h2 class="about-title">how it’s made?</h2>
    <div class="about-img"></div>
    <div class="about-content">
      <p class="about-text text-ice">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
      <p class="about-text">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
      <p class="about-text text-mood">
        This is enough to choose ice cream and coffee for any mood!
      </p>
    </div>
    <button type="button" class="about-btn js-open-modal" data-modal="5">
      Read more
      <svg class="about__icon" width="12" height="12">
        <use href="./images/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>
