<section class="section-advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>

    <ul class="adventages-list">
      <li class="adventages-item">
        <div class="adventage-wraper">
          <span class="adventages-subtitle">721</span>
          <p class="adventages-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>

      <li class="adventages-item adventages-wseight-icon">
        <div class="adventage-wraper">
          <span class="adventages-subtitle">16kg</span>
          <p class="adventages-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>

      <li class="adventages-item adventages-icecream-icon">
        <div class="adventage-wraper">
          <span class="adventages-subtitle">84</span>
          <p class="adventages-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
