<section class="section-advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>

    <ul class="adventages-list">
      <li class="adventages-list__item">
        <span class="adventages-list__subtitle">721</span>
        <p class="adventages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="adventages-list__item adventages-list__item--second">
        <span class="adventages-list__subtitle">16kg</span>
        <p class="adventages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="adventages-list__item adventages-list__item--third">
        <span class="adventages-list__subtitle">84</span>
        <p class="adventages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
