<div class="backdrop-order is-hidden--buy active-mobile" data-modal-buy>
  <div class="modal-order">
    <button class="button-close-order" data-modal-close-1>
      <svg class="button-close__icon" width="12" height="12">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>

    <button class="button-close-order" data-modal-close-2>
      <svg class="button-close__icon" width="12" height="12">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>

    <form class="form-order">
      <h2 class="order__title">Buy now</h2>
      <ul class="modal-list">
        <li class="list-item">
          <input
            class="check-input"
            type="checkbox"
            name="product"
            value="icecream"
            id="icecream"
          />
          <label class="check-item check-item--first" for="icecream"
            ><span class="check-item__text">ice cream</span></label
          >
        </li>
        <li class="list-item">
          <input
            class="check-input"
            type="checkbox"
            name="product"
            value="icecoffee"
            id="icecoffee"
          />
          <label class="check-item check-item--second" for="icecoffee"
            ><span class="check-item__text">ice coffee</span></label
          >
        </li>
        <li class="list-item">
          <input
            class="check-input"
            type="checkbox"
            name="product"
            value="milcshake"
            id="milcshake"
          />
          <label class="check-item check-item--third" for="milcshake"
            ><span class="check-item__text">milkshake</span></label
          >
        </li>
      </ul>

      <div class="order-input">
        <div class="order-name">
          <label for="name-order" class="order-name__label"></label>
          <input
            id="name-order"
            class="order-name__input"
            placeholder="Name"
            minlength="3"
            maxlength="20"
            required
            title="Некоректне ім'я"
          />
        </div>
        <div class="order-phone">
          <label for="telephon" class="order-phone__label"></label>
          <input
            id="telephon"
            class="order-phone__input"
            type="tel"
            placeholder="Phone"
            minlength="9"
            maxlength="13"
            pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
            required
            title="+380 (63) 111-11-11"
          />
        </div>
        <div class="textarea-order">
          <label class="textarea-order__label"></label>
          <textarea
            class="textarea-order__text"
            placeholder="Comment"
          ></textarea>
          <div class="btn-buynow">
            <button class="button-buy" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
