<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
      <div class="footer-title-thumb">
        <p class="footer__pre__title">homemade ice cream made</p>
        <p class="footer__title">with passion</p>
      </div>
      <div class="footer-conection">
        <div class="footer-icon-container">
          <ul class="footer-soc__list">
            <li class="footer-soc__items">
              <a
                href="https://github.com"
                target="_blank"
                class="footer-soc__link"
              >
                <svg width="20" height="20" class="footer-soc__icons">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc__items">
              <a
                href="https://web.telegram.org/k/"
                target="_blank"
                class="footer-soc__link"
                ><svg width="20" height="20" class="footer-soc__icons">
                  <use href="./images/icons.svg#icon-telegram"></use></svg
              ></a>
            </li>
            <li class="footer-soc__items">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="footer-soc__link"
                ><svg width="20" height="20" class="footer-soc__icons">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
          </ul>
        </div>
        <a class="footer__contact" href="tel:+61(0)383766284">
          <p class="footer__contact__text">Feel free to contact</p>
          +61 (0) 383 766 284
        </a>
      </div>
    </div>
    <!-- <hr class="line" /> -->
    <p class="footer__copyright">
      &copy; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>

