<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
      <div class="footer-title-thumb">
        <p class="footer__pre__title">homemade ice cream made</p>
        <p class="footer__title">with passion</p>
      </div>
      <div class="footer-conection">
        <div class="footer-icon-container">
          <ul class="footer-soc__list">
            <li class="footer-soc__items">
              <a
                href="https://github.com"
                target="_blank"
                class="footer-soc__link"
              >
                <svg width="20" height="20" class="footer-soc__icons">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc__items">
              <a
                href="https://web.telegram.org/k/"
                target="_blank"
                class="footer-soc__link"
                ><svg width="20" height="20" class="footer-soc__icons">
                  <use href="./images/icons.svg#icon-telegram"></use></svg
              ></a>
            </li>
            <li class="footer-soc__items">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="footer-soc__link"
                ><svg width="20" height="20" class="footer-soc__icons">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
          </ul>
        </div>
        <a class="footer__contact" href="tel:+61(0)383766284">
          <p class="footer__contact__text">Feel free to contact</p>
          +61 (0) 383 766 284
        </a>
      </div>
    </div>
    <!-- <hr class="line" /> -->
    <p class="footer__copyright">
      &copy; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
<!-- <div class="backdrop is-hidden">
  <div class="modal">
    <button type="button" class="modal__btn">
      <svg width="13" height="13" class="modal-icon__close">
        <use href="./images/icons.svg#icon-facebook"></use>
      </svg>
    </button>
    <form>
      <h3 class="form-title">
        Thank you for your interest in owning an Ice Cream shop
      </h3>
      <p class="form-text">
        Due to the overwhelming volume of franchise requests we are not
        accepting new franchisee applications at this time. Once the application
        process resumes, we will contact you for further information. Please
        fill out the contact information below and we will reach out for
        additional information. We appreciate your patience.
      </p>
      <div class="modal-input__group">
        <label for="name"></label>
        <input
          type="text"
          class="modal__input"
          placeholder="Name"
          name="name"
          id="name"
        />
      </div>

      <div class="modal-input__group">
        <label for="tel"></label>
        <input
          type="tel"
          class="modal__input"
          placeholder="Phone"
          name="tel"
          id="tel"
          pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
        />
      </div>
      <div class="modal-input__group">
        <label for="email"></label>
        <input
          type="email"
          class="modal__input"
          placeholder="Email"
          name="email"
          id="email"
        />
      </div>
      <div class="modal-input__group modal__textarea">
        <label for="comment"></label>
        <textarea
          name="comment"
          id="comment"
          class="modal__text"
          placeholder="Comment"
        ></textarea>
      </div>
      <div class="modal-submit__btn">
        <button type="submit" class="modal__button">Submit</button>
      </div>
    </form>
  </div>
</div> -->
