<div class="section-above"></div>
<section class="gallery gallry--layout">
  <div class="container container-gallery">
    <div class="one-time">
      <div class="gallery__item">
        <picture class="gallery__picture">
          <source
            srcset="
              ./images/slider/gallery_1_tel-1x.jpg 1x,
              ./images/slider/gallery_1_tel-2x.jpg 2x
            "
            media="(max-width:767px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./images/slider/gallery_1_teablet-1x.jpg 1x,
              ./images/slider/gallery_1_teablet-2x.jpg 2x
            "
            media="(max-width:1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/slider/gallery_1_desktop-1x.jpg 1x,
              ./images/slider/gallery_1_desktop-2x.jpg 2x
            "
            media="(min-width:1200px)"
            type="image/jpg"
            class="gallery__photo"
          />
          <img
            class="gallery__photo"
            src="./images/slider/gallery_1_desktop-1x.jpg"
            alt="Морозиво"
          />
        </picture>
      </div>
      <div class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/slider/gallery_1_tel-1x.jpg 1x,
              ./images/slider/gallery_1_tel-2x.jpg 2x
            "
            media="(max-width:767px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./images/slider/gallery_1_teablet-1x.jpg 1x,
              ./images/slider/gallery_1_teablet-2x.jpg 2x
            "
            media="(max-width:1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/slider/gallery_2_desktop-1x.jpg 1x,
              ./images/slider/gallery_2_desktop-2x.jpg 2x
            "
            media="(min-width:1200px)"
            type="image/jpg"
            class="gallery__photo"
          />
          <img
            class="gallery__photo"
            src="./images/slider/gallery_2_desktop-1x.jpg"
            alt="Морозиво"
          />
        </picture>
      </div>
      <div class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/slider/gallery_1_tel-1x.jpg 1x,
              ./images/slider/gallery_1_tel-2x.jpg 2x
            "
            media="(max-width:767px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./images/slider/gallery_1_teablet-1x.jpg 1x,
              ./images/slider/gallery_1_teablet-2x.jpg 2x
            "
            media="(max-width:1199px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/slider/gallery_3_desktop-1x.jpg 1x,
              ./images/slider/gallery_3_desktop-2x.jpg 2x
            "
            media="(min-width:1200px)"
            type="image/jpg"
            class="gallery__photo"
          />
          <img
            class="gallery__photo"
            src="./images/slider/gallery_3_desktop-1x.jpg"
            alt="Морозиво"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
