<div class="modal location__modal" data-modal="6">
    <!--   Svg иконка для закрытия окна  -->
    <button type="button" class="location__close"><svg class="modal__cross js-modal-close" width="13" height="13">
        <use href="..//..//src/images/icons.svg#icon-close-modal"></use></svg></button>
    
        <div class="location__wrap">
        <h2 class="location__title">Our Locations</h2>
        <iframe 
        class="mobile-map location__map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5175.305691768211!2d34.5032859!3d49.5665731!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f6b2b734215%3A0x83941cf2851f4485!2sKomarist%20Confectionery%20Workshop!5e0!3m2!1sru!2sro!4v1673889515892!5m2!1sru!2sro" 
        width="224" height="200" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <iframe 
        class="desktop-map location__map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5175.305691768211!2d34.5032859!3d49.5665731!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f6b2b734215%3A0x83941cf2851f4485!2sKomarist%20Confectionery%20Workshop!5e0!3m2!1sru!2sro!4v1673890800886!5m2!1sru!2sro" 
        width="448" height="260" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <button class="location__open-map"><a href="https://goo.gl/maps/2Ffx1Hpw5pADzbye6">Open map</a></button>
        </div>
 </div>
 <!-- Подложка под модальным окном -->
<div class="location__overlay js-overlay-modal"></div>