<!------- first modal ----- -->
<div class="modal products-modal products-modal-first" data-modal="2">
  <button type="button" class="products-modal-close js-modal-close">
    <svg class="products-modal-icon">
      <use href="..//..//src/images/icons.svg#icon-close-modal"></use>
    </svg>
  </button>
  <form class="products-modal-form">
    <h3 class="products-modal-title">Chololate icecream</h3>
    <ul class="products-modal-list">
      <li class="products-modal-item">
        <span class="products-item-value">320</span> kcal
      </li>
      <li class="products-modal-item">
        <span class="products-item-value">4g</span> Prote...
      </li>
      <li class="products-modal-item">
        <span class="products-item-value">8,2g</span> Fats
      </li>
      <li class="products-modal-item">
        <span class="products-item-value">40,4g</span> Carbs
      </li>
    </ul>
    <h4 class="products-ingredients-title">Ingredients</h4>
    <ul class="products-ingredients-list">
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Milk</p>
        <p class="products-ingredients-text">100ml</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Belgian chocolate</p>
        <p class="products-ingredients-text">20g</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Cream</p>
        <p class="products-ingredients-text">150 ml</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Cocoa powder</p>
        <p class="products-ingredients-text">30g</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Sugar</p>
        <p class="products-ingredients-text">40g</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Vanilla sugar</p>
        <p class="products-ingredients-text">10g</p>
      </li>
    </ul>
    <input
      type="text"
      name="name"
      placeholder="Name"
      class="products-modal-input"
    />
    <input
      type="tel"
      name="tel"
      placeholder="Phone"
      class="products-modal-input"
    />
    <textarea
      name="comment"
      placeholder="Comment"
      class="products-modal-textarea"
    ></textarea>
    <button type="submit" class="products-modal-btn">Submit</button>
  </form>
</div>
<!------- second modal ------->
<div class="modal products-modal" data-modal="3">
  <button type="button" class="products-modal-close js-modal-close">
    <svg class="products-modal-icon">
      <use href="..//..//src/images/icons.svg#icon-close-modal"></use>
    </svg>
  </button>
  <form class="products-modal-form">
    <h3 class="products-modal-title products-title-second">
      Mint-chololate icecoffe
    </h3>
    <ul class="products-modal-list">
      <li class="products-modal-item products-item-second">
        <span class="products-item-value products-value-second">242</span>
        kcal
      </li>
      <li class="products-modal-item products-item-second">
        <span class="products-item-value products-value-second">9g</span>
        Prote...
      </li>
      <li class="products-modal-item products-item-second">
        <span class="products-item-value products-value-second">8g</span>
        Fats
      </li>
      <li class="products-modal-item products-item-second">
        <span class="products-item-value products-value-second">34g</span>
        Carbs
      </li>
    </ul>
    <h4 class="products-ingredients-title">Ingredients</h4>
    <ul class="products-ingredients-list">
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Milk</p>
        <p class="products-ingredients-text">200ml</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Instant coffee</p>
        <p class="products-ingredients-text">4g</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Water</p>
        <p class="products-ingredients-text">80ml</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Bitter chocolate</p>
        <p class="products-ingredients-text">40g</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Mint syrup</p>
        <p class="products-ingredients-text">45ml</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Ice</p>
        <p class="products-ingredients-text">50g</p>
      </li>
    </ul>
    <input
      type="text"
      name="name"
      placeholder="Name"
      class="products-modal-input products-input-second"
    />
    <input
      type="tel"
      name="tel"
      placeholder="Phone"
      class="products-modal-input products-input-second"
    />
    <textarea
      name="comment"
      placeholder="Comment"
      class="products-modal-textarea products-textarea-second"
    ></textarea>
    <button type="submit" class="products-modal-btn">Submit</button>
  </form>
</div>
<!------- third modal ------->
<div class="modal products-modal products-modal-third" data-modal="4">
  <button type="button" class="products-modal-close js-modal-close">
    <svg class="products-modal-icon">
      <use href="..//..//src/images/icons.svg#icon-close-modal"></use>
    </svg>
  </button>
  <form class="products-modal-form">
    <h3 class="products-modal-title products-title-third">Banana milkshake</h3>
    <ul class="products-modal-list">
      <li class="products-modal-item products-item-third">
        <span class="products-item-value products-value-third">301</span>
        kcal
      </li>
      <li class="products-modal-item products-item-third">
        <span class="products-item-value products-value-third">12g</span>
        Prote...
      </li>
      <li class="products-modal-item products-item-third">
        <span class="products-item-value products-value-third">10g</span>
        Fats
      </li>
      <li class="products-modal-item products-item-third">
        <span class="products-item-value products-value-third">52g</span>
        Carbs
      </li>
    </ul>
    <h4 class="products-ingredients-title">Ingredients</h4>
    <ul class="products-ingredients-list">
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Milk</p>
        <p class="products-ingredients-text">200ml</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Banana</p>
        <p class="products-ingredients-text">2piece</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Cream</p>
        <p class="products-ingredients-text">50ml</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Ice cream</p>
        <p class="products-ingredients-text">100g</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Chocolate</p>
        <p class="products-ingredients-text">30g</p>
      </li>
      <li class="products-ingredients-item">
        <p class="products-ingredients-text">Ice</p>
        <p class="products-ingredients-text">30g</p>
      </li>
    </ul>
    <input
      type="text"
      name="name"
      placeholder="Name"
      class="products-modal-input products-input-third"
    />
    <input
      type="tel"
      name="tel"
      placeholder="Phone"
      class="products-modal-input products-input-third"
    />
    <textarea
      name="comment"
      placeholder="Comment"
      class="products-modal-textarea products-textarea-third"
    ></textarea>
    <button type="submit" class="products-modal-btn">Submit</button>
  </form>
</div>
<div class="products-opacity js-overlay-modal"></div>
