<section class="products" id="Products">
  <div class="container">
    <p class="products-pretitle">100% natural</p>
    <h2 class="products-title">products</h2>
    <ul class="products-cards">
      <li class="products-card-item">
        <h3 class="products-card-title">ice cream</h3>
        <p class="products-card-text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button type="button" class="products-card-btn">
          <svg class="products-card-icon">
            <use href="..//..//src/images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-card-item">
        <h3 class="products-card-title products-second-card">ice coffee</h3>
        <p class="products-card-text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button type="button" class="products-card-btn">
          <svg class="products-card-icon">
            <use href="..//..//src/images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-card-item">
        <h3 class="products-card-title products-third-card">milkshakes</h3>
        <p class="products-card-text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button type="button" class="products-card-btn">
          <svg class="products-card-icon">
            <use href="..//..//src/images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
