<section class="custom">
    <div class="customer-reviews">
        <ul class="customer-reviews_list">
            <li class="customer-reviews_content">
                <div class="customer-reviews_items">
                    <img class="customer-reviews_img"
                        srcset="/src/images/clients/emily_1.png 1x, /src/images/clients/emily_1@2x.png 2x "
                        src="/src/images/clients/emily_1.png" alt="Emily Review">
                    <p class="customer-reviews_text">I love visiting your cafe. You prepare the most delicious ice cream
                        in Los Angeles!
                        In addition, you have beautiful
                        serving, cozy atmosphere and polite staff.</p>
                    <h3 class="customer-reviews_title">Emily, Los Angeles</h3>
                </div>
            </li>
            <li class="customer-reviews_content">
                <div class="customer-reviews_items">
                    <img class="" srcset="/src/images/clients/bryan_2.png 1x, /src/images/clients/bryan_2@2x.png 2x "
                        src="/src/images/clients/bryan_2.png" alt="Bryan Review">
                    <p class="customer-reviews_text"> Every day we come to you with friends after classes in college. We
                        love your ice
                        cream and casual atmosphere!</p>
                    <h3 class="customer-reviews_title">Bryan, New-York</h3>
                </div>
            </li>
            <li class="customer-reviews_content">
                <div class="customer-reviews_items">
                    <img class="" srcset="/src/images/clients/diana_3.png 1x, /src/images/clients/diana_3@2x.png 2x "
                        src="/src/images/clients/diana_3.png" alt="Diana Review">
                    <p class="customer-reviews_text">Ice cream is my passion! I love your chocolate hazelnut ice cream!
                        And I really
                        like the excellent service - always
                        served politely and quickly!</p>
                    <h3 class="customer-reviews_title">Diana, Chicago</h3>
                </div>
            </li>

        </ul>
    </div>

</section>