.header {
    position: relative;
    padding: 12px 0;

  
    @media screen and (min-width: 768px) {
      padding: 15px 0;
    }
  
    @media screen and (min-width: 1200px) {
      padding: 18px 0;
    }
  }

  .logo {
    &__image {
      width: 40px;
      height: 47px;
  
      @media screen and (min-width: 768px) {
        width: 54px;
        height: 63px;
      }
  
      @media screen and (min-width: 1200px) {
        width: 60px;
        height: 70px;
      }
    }
  }
  
  
  .main-nav {
    display: flex;
    align-items: center;
  
    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  
    &__wrapper {
      z-index: 98;
  
      @media screen and (max-width: 1199px) {
        position: fixed;
        top: 56px;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding-top: 50px;
        padding-bottom: 64px;
        background-color: var(--bgc-body);
        text-align: center;
        overflow-y: scroll;
        transform: translateX(-100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
        &--is-open {
          transform: translateX(0);
        }
      }
  
      @media screen and (min-width: 768px) {
        top: 76px;
      }
    }
  }
  
  .site-nav {
    list-style: none;
  
    @media screen and (max-width: 1199px) {
      text-align: center;
      margin-bottom: 110px;
    }
  
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      margin-left: 120px;
    }
  
    &__item:not(:last-child) {
      @media screen and (max-width: 1199px) {
        margin-bottom: 32px;
      }
  
      @media screen and (min-width: 1200px) {
        margin-right: 28px;
      }
    }
  
    &__link {
      font-weight: 700;
      font-size: 32px;
      line-height: 1.2;
      text-decoration: none;
      color: var(--text-whte);
  
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
        color: var(--btn-text-color);
  
        @media screen and (min-width: 1200px) {
          color: var(--btn-color-default);
        }
      }
  
      @media screen and (min-width: 768px) {
        font-size: 48px;
      }
  
      @media screen and (min-width: 1200px) {
        font-size: 16px;
      }
    }
  }
  
  
  .header-button {
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    background-color: var(--btn-color-default);
    color: var(--btn-text-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    cursor: pointer;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &__icon {
      fill: currentColor;
      width: 12px;
      height: 12px;
      margin-left: 7px;
      vertical-align: middle;
    }
  
    &:hover {
      background-color: var(--btn-color-hover-focus);
    }
  
    &:focus {
      color: var( --text-whte);
      background-color: var(--btn-color-hover-focus);
    }

    
    &--mobile-disabled {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  
    &--tablet-disabled {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }
  
  
  .menu-button {
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  
    color: var( --text-whte);
  
    &__icon {
      fill: currentColor;
  
      @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
      }
    }
  
    &__icon-close {
      display: none;
    }
  
    &--is-open &__icon-close { 
      display: block;
    }
  
    &--is-open &__icon-menu {
      display: none;
    }
  
    @media screen and (min-width: 768px) {
      margin-right: 32px;
    }
  
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }