.footer {
  align-items: center;

  @media screen and (max-width: 767px) {
    padding-top: 1130px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 390px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 636px;
  }
}

.footer-container {
  @media screen and (max-width: 1199px) {
    padding: 0;
  }
}

.footer-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-bottom: 1px solid #e1e1e1;

  padding-bottom: 40px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
    padding: 0 32px;
    flex-direction: row;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 12px;
    align-items: flex-end;
    padding: 0;
    padding-bottom: 60px;
  }
}

.footer-title-thumb {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    padding-bottom: 32px;
  }
}

.footer__pre__title {
  max-width: 240px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;
  color: var(--text-whte);

  @media screen and (min-width: 768px) {
    max-width: 352px;
    margin-bottom: 8px;
    font-size: 26px;
    line-height: calc(32 / 26);
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    max-width: 100%;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(37 / 30);
    margin-bottom: 14px;
  }
}

.footer__title {
  max-width: 200px;
  font-weight: 700;
  font-size: 34px;
  line-height: calc(41 / 34);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-whte);

  @media screen and (min-width: 768px) {
    letter-spacing: 0.06em;
    font-size: 48px;
    line-height: calc(59 / 48);
  }

  @media screen and (min-width: 1200px) {
    max-width: 100%;
    font-size: 58px;
    line-height: calc(71 / 58);
  }
}

.footer-icon-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 34px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.footer-soc__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer-soc__items {
  width: 34px;
  height: 34px;
}

.footer-soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--btn-color-default);
}

.footer-soc__icons {
  fill: var(--bgc-body);
}

.footer__contact {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22 / 12);
  text-align: right;
  color: var(--text-whte);

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.02em;
  }
}

.footer__contact__text {
  color: var(--text-black);
  margin-right: 5px;
}

// .line {
//   margin-bottom: 20px;
//   border-width: 1px;
//   color: #e1e1e1;
// }

.footer__copyright {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  max-width: 170px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);

  color: var(--text-footer-address);

  @media screen and (max-width: 767px) {
    padding-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    max-width: 100%;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: calc(26 / 14);
    padding-bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 12px;
    line-height: calc(22 / 12);
  }
}

// MODAL FRANCHISE
