img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery__title {
  opacity: 0;
  pointer-events: none;
}

.gallery--layout {
  position: relative;
  margin: 0 auto;
}
.container-gallery {
  position: absolute;
  z-index: 2;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);

  @media screen and (min-width: 768px) {
    top: -144px;
  }
  @media screen and (min-width: 1200px) {
    top: -98px;
  }
}

.gallery__item {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-gallery {
    width: 768px;
  }
}

.gallery__photo {
  border-radius: 8px;
  margin: 0 auto;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    border-radius: 18px;
    height: 204px;
    max-width: 440px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    border-radius: 18px;
    height: 327px;
    widht: 704px;
  }
  @media screen and (min-width: 1200px) {
    width: 1013px;
    border-radius: 24px;
  }
}

.slick-next,
.slick-prev {
  opacity: 0;
}
