img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallry--layout {
  position: absolute;
  z-index: 2;
}

.gallery__item {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-gallery {
    width: 768px;
  }
}

.gallery__photo {
  @media screen and (min-width: 1200px) {
    margin: 0 auto;
    width: 1013px;
    border-radius: 24px;
  }
}

.slick-next,
.slick-prev {
  opacity: 0;
}
