.custom {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
  background-image: url('/src/images/backgroud_mobile.jpg');
}

.customer-reviews_list {
  max-width: 100%;
  text-align: center;
}

.customer-reviews_img {
  padding-top: 178px;
  margin: auto;

  @media screen and (max-width: 480px) {
    padding-top: 256px;
  }
  
 @media screen and (min-width: 768px) {
    padding-top: 283px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 464px;
  }

}


.customer-reviews_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.5;
  color: #fcfcfc;
  background-color: #84a178;
  border-radius: 10px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 35px 39px 35px 39px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    padding: 28px 80px;
    border-radius: 24px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    padding: 43px 109px;
  }
}

.customer-reviews_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 12px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #84a178;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: #84a178;
}
